$color-primary: #ff6768;
$color-primary-light: #FFADAD;
$color-primary-dark: #7A0000;

$color-secondary-light: #263859;
$color-secondary-dark: #17223b;

$color-tertiary-light: #dae1e7;
$color-tertiary-dark: #6b778d;

$color-gery-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
