.navbar {
  display: flex;
  justify-content: space-between;
  background: $color-tertiary-light;
  align-items: center;
  padding: 5px;
  border-radius: 1rem;
}

.navbar-brand {
  background-color: $color-white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navbar-brand-logo {
  font-size: 2rem;
  color: $color-primary;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}
