.workout {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: calc(100% - 4rem);
  position: relative;

  &-time {
    position: absolute;
    top: -2rem;
    left: 2rem;
  }
}

.workout-set-card {
  perspective: 150rem;
  position: relative;
  height: 30rem;
  width: 20rem;
  margin: 5px;

  &__side {
    transition: all .5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    height: 30rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right  bottom, $color-black, $color-primary-dark);
      }

      &-2 {
        background-image: linear-gradient(to right  bottom, $color-black, $color-primary-dark);
      }

      &-3 {
        background-image: linear-gradient(to right  bottom, $color-black, $color-primary-dark);
      }
    }
  }
  
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    background-position: center;
    height: 40%;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    &--legs {
      background-image: linear-gradient(to right  bottom, $color-black, $color-primary-dark), url("https://cdn2.omidoo.com/sites/default/files/imagecache/full_width/images/bydate/201501/bigmuscularlegdevelopmentroutines.jpg");
    }

    &--abs {
      background-image: linear-gradient(to right  bottom, $color-black, $color-primary-dark), url("https://cdn.mos.cms.futurecdn.net/LsHSJLdGqaxstgu9UjS5bX.jpg");
    }

    &--upper {
      background-image: linear-gradient(to right  bottom, $color-black, $color-primary-dark), url("https://lh3.googleusercontent.com/proxy/DRYVmvlUFXy1T_auTMh0lrQ_vuQVHAhTyGSmf3H4TFdEAGHqoQY1B1Hb1a_w1iylDB_h6LLVYfVaLLPP97Hx9KZOd4Ux4pv1O8B3QmIqp4qGK4PO-Jf8ZhYmZUCddzWR7J90mYBW5ER89SzapkPfEwty-QaB");
    }

    &--endurance {
      background-image: linear-gradient(to right  bottom, $color-black, $color-primary-dark), url("https://images.pexels.com/photos/2294361/pexels-photo-2294361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    &--core {
      background-image: linear-gradient(to right  bottom, $color-black, $color-primary-dark), url("https://images.pexels.com/photos/4057526/pexels-photo-4057526.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 4rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(to right  bottom, rgba($color-primary, .8), rgba($color-primary-light, .8));
    }

    &--2 {
      background-image: linear-gradient(to right  bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8));
    }

    &--3 {
      background-image: linear-gradient(to right  bottom, rgba($color-primary, .8), rgba($color-primary-dark, .8));
    }
  }

  &__details {
    padding: 1rem;

    &-text {
      font-size: .9rem;
      padding: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-2;
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    font-size: 1.4rem;
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}